# Java compiled files
*.class

# Logs
*.log

# Build folders
bin/
target/
test-output/

# Screenshots and reports
screenshots/
extent-report/

# IDE folders
.metadata/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Cucumber reports
*.json
